.card-wrapper {
  width: 100%;
  max-width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #e3e3e3;
  margin-bottom: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;

  @media screen and (max-width: 1110px) {
    flex: calc((4 / 12) * 100%);
    width: calc((4 / 12) * 100%);
    max-width: calc((4 / 12) * 100% - 30px);
    margin: 0 14px 30px
  }

  @media screen and (max-width: 667px) {
    flex: calc((6 / 12) * 100%);
    width: calc((6 / 12) * 100%);
    max-width: calc((6 / 12) * 100% - 30px);
  }

  @media screen and (max-width: 420px) {
    flex: calc((12 / 12) * 100%);
    width: calc((12 / 12) * 100%);
    max-width: calc((12 / 12) * 100%);
    margin: 0 0 20px;
  }

  &:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;

    div:last-child h1 {
      transition: all 0.3s;
      color: #b51111;
    }
  }

  div:first-child {
    width: 100%;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  div:last-child {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 10px;

    h1 {
      margin: 0 0 15px 0;
      transition: all 0.3s;
    }

    p {
      color: #373434;
    }
  }
}