@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');

h1 {
  font-size: 20px;
  line-height: 26px;
}

p {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  color: white;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;

  &:hover {
    transition: all 0.3s;
    color: #b51111;
  }
}